SolvingClient/web/WEB-INF/wsdl/localhost_8080/SolvingServer/SolvingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.usach.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.usach.cl/" name="SolvingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.usach.cl/" schemaLocation="http://localhost:8080/SolvingServer/SolvingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="allrequirimientos">
<part name="parameters" element="tns:allrequirimientos"/>
</message>
<message name="allrequirimientosResponse">
<part name="parameters" element="tns:allrequirimientosResponse"/>
</message>
<message name="allUsers">
<part name="parameters" element="tns:allUsers"/>
</message>
<message name="allUsersResponse">
<part name="parameters" element="tns:allUsersResponse"/>
</message>
<message name="crearSolicitud">
<part name="parameters" element="tns:crearSolicitud"/>
</message>
<message name="crearSolicitudResponse">
<part name="parameters" element="tns:crearSolicitudResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SolvingWS">
<operation name="login">
<input wsam:Action="http://server.usach.cl/SolvingWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://server.usach.cl/SolvingWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="allrequirimientos">
<input wsam:Action="http://server.usach.cl/SolvingWS/allrequirimientosRequest" message="tns:allrequirimientos"/>
<output wsam:Action="http://server.usach.cl/SolvingWS/allrequirimientosResponse" message="tns:allrequirimientosResponse"/>
</operation>
<operation name="allUsers">
<input wsam:Action="http://server.usach.cl/SolvingWS/allUsersRequest" message="tns:allUsers"/>
<output wsam:Action="http://server.usach.cl/SolvingWS/allUsersResponse" message="tns:allUsersResponse"/>
</operation>
<operation name="crearSolicitud">
<input wsam:Action="http://server.usach.cl/SolvingWS/crearSolicitudRequest" message="tns:crearSolicitud"/>
<output wsam:Action="http://server.usach.cl/SolvingWS/crearSolicitudResponse" message="tns:crearSolicitudResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server.usach.cl/SolvingWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server.usach.cl/SolvingWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SolvingWSPortBinding" type="tns:SolvingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allrequirimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SolvingWS">
<port name="SolvingWSPort" binding="tns:SolvingWSPortBinding">
<soap:address location="http://localhost:8080/SolvingServer/SolvingWS"/>
</port>
</service>
</definitions>